<h1> VOTE HERE, here is where we will put the form </h1>
<form action="/board/create/" method="update">
    <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
    <div>Add Gamer Name: <input id="name" name="name" type="string"></div> <br>
   	

    <input type="submit"  value="submit" style="background-color: green; border-radius: 200px;">

</form>




	<table> 


	 <% @pollit.each do |option| %>
		 <tr>
		 	<td class="delete"><form action="/board/destroy/" method="destroy"> <input type="submit"  value="delete" style="background-color: red; border-radius: 200px;"><input type="hidden" name="id" value="<%=option.id%>"></form></td>
		 	<td class= "name"> <%= option.name %> </td>
		 	<td class= "vote"> <%= option.vote %> </td> 
		 	<td><form action="/board/update/" method="get"><input type="submit" value="VOTE" style="background-color: green; border-radius: 200px;"><input type="hidden" name="id" value="<%=option.id%>"></form></td>
		 </tr>


		<%end%>
	</table>


